*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 body{
    background-color: black;
 }

 .App{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
 }
.contenedor-logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.logo{
    height: 250px;
}